<div class="big-what">
  <div class="wrap">
    <div class="mission">User group for Ruby developers from Slovenia</div>
    <div class="invite">Join us if you like Ruby and related technologies!</div>
    <div class="buttons">
      <a href="{{ site.social.meetup }}" class="attend-next-meetup-button">Attend next meetup</a>
      {% include newsletter_form.html %}
    </div><!-- /.butttons -->
    <div class="archive-links">
      <a href="{{ site.meetup.archive }}">Past meetups</a>
      <a href="{{ site.newsletter.archive }}">Newsletter archive</a>
    </div>
  </div><!-- /.wrap -->
</div><!-- /.big-what -->
