<div class="header">
  <div class="wrap">
    <div class="cell brand">
      <a href="/" class="logo">
        <strong>Slovenia</strong> Ruby User Group
      </a>
    </div><!-- /.brand -->
    <div class="cell menu main">
      <ul>
        <li><a href="/">News</a></li>
        <li><a href="/">Why Ruby?</a></li>
        <li><a href="/">Stickers</a></li>
        <li><a href="/">Meetup</a></li>
      </ul>
    </div><!-- /.menu -->
    <div class="cell menu social">
      <ul>
        <li><a href="#" title="Meetup">Meetup</a></li>
        <li><a href="#" title="Slovenia Ruby User Group on Facebook">Facebook</a></li>
        <li><a href="#" title="RubySlovenia">@RubySlovenia</a></li>
        <li><a href="#">Github</a></li>
      </ul>
    </div><!-- /.social -->
  </div><!-- /.wrap -->
</div><!-- /.header -->
