<div class="header">
  <div class="wrap">
    <a href="/" class="home">
      <div class="logo"></div>
      <div class="cell brand">
        <strong>Slovenia</strong> Ruby User Group
      </div>
    </a>
    <div class="cell menu main-menu mobile-hidden">
      <ul>
        <li><a href="/">News</a></li>
        <li><a href="/stickers">Stickers</a></li>
      </ul>
    </div><!-- /.menu -->
    <div class="cell menu social-menu mobile-hidden">
      <ul>
        <li><a href="{{ site.social.meetup }}" class="icon-meetup" title="Slovenia Ruby User Group on Meetup"></a></li>
        <li><a href="{{ site.social.twitter }}" class="icon-twitter" title="Slovenia Ruby User Group on Twitter"></a></li>
        <li><a href="{{ site.social.facebook }}" class="icon-facebook-squared" title="Slovenia Ruby User Group on Facebook"></a></li>
        <li><a href="{{ site.social.github }}"class="icon-github-circled" title="Slovenia Ruby User Group on GitHub"></a></li>
      </ul>
    </div>
    <div class="cell menu nav-dropdown">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Stickers, Social, and more! <span class="dropdown-chevron">&#9660;</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/stickers">Stickers</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.social.meetup }}">Meetup</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.social.twitter }}">Twitter</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.social.facebook }}">Facebook</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ site.social.github }}">GitHub</a></li>
        </ul>
      </div>
    </div>
  </div><!-- /.wrap -->
</div><!-- /.header -->
