<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="twitter:site" content="@RubySlovenia">

  <title>
    {% if page.title == "Home" %}
      {{ site.description }}
    {% else %}
      {{ page.title }} &middot; {{ site.description }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/assets/css/rug04.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">

  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic&amp;subset=latin,latin-ext'>
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
