<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  {% include ga.html %}

  <body>
    {% include header.html %}
    {% include bigwhat.html %}

    <div class="main">
      <div class="wrap">

        <div class="front-feed">
          <ul>
            {% for post in site.posts %}
              {% assign author = site.authors[post.author] %}
              {% assign bg_photo = post.bg_photo %}

              {% capture p_type %}
                {% if post.title 'Recap' %}recap{% endif %}
              {% endcapture %}

              {% if post.bg_photo %}
              <li class="post with-bg-photo" style="background-image: url('{{ bg_photo }}')">
              {% else %}
              <li class="post">
              {% endif %}
                <div class="post-wrap">
                  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                  <div class="summary">
                    {{ post.content | strip_html | truncatewords: 50 }}

                  </div>
                  <div class="about">
                    Written by <span class="author"><a href="{{ author.url }}">{{ author.name }}</a></span> on <span class="date">{{ post.date | date_to_string }}.</span>
                  </div><!-- /.about -->
                </div><!-- /.post-wrap -->
              </li><!-- /.post -->
            {% endfor %}
          </ul>
        </div><!-- /.front-feed -->

      </div><!-- /.wrap -->
    </div><!-- /.main -->

    <div class="footer">
      <div class="wrap">
        <span class="copyright">&copy; Slovenia RUG 2014. All rights reserved.</span>
        <img class="logo" src="/assets/img/logo-red.svg" alt="logo red" />
        <div class="cell menu main">
          <ul>
            <li><a href="/">News</a></li>
            <li><a href="/">Why Ruby?</a></li>
            <li><a href="/">Stickers</a></li>
            <li><a href="/">Meetup</a></li>
          </ul>
        </div>
      </div><!-- /.main -->
    </div><!-- /.footer -->
  </body>
</html>
