<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  {% include ga.html %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-51910539-1', 'rug.si');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');

    var trackOutboundLink = function(url) {
      ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
        function () { document.location = url; }
      });
    };
  </script>

  <body>
    {% include header.html %}

    {% include bigwhat.html %}

    <div class="main">
      <div class="wrap">

        <div class="front-feed">
          <ul>
            {% for post in paginator.posts %}
              {% assign author = site.authors[post.author] %}
              <li class="post">
                <div class="post-wrap">
                  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                  <div class="summary">
                    {{ post.content | strip_html | truncatewords: 30 }}
                  </div>
                  <div class="about">
                    Written by <span class="author"><a href="{{ author.url }}">{{ author.name }}</a></span> on <span class="date">{{ post.date | date_to_string }}.</span>
                  </div><!-- /.about -->
                </div><!-- /.post-wrap -->
              </li><!-- /.post -->
            {% endfor %}
          </ul>
        </div><!-- /.front-feed -->

      </div><!-- /.wrap -->
    </div><!-- /.main -->

    <div class="footer">
      <div class="wrap">
        <span class="copyright">&copy; Slovenia RUG 2014. All rights reserved.</span>
        <img class="logo" src="/assets/img/logo-red.svg" alt="logo red" />
        <div class="cell menu main">
          <ul>
            <li><a href="/">News</a></li>
            <li><a href="/">Why Ruby?</a></li>
            <li><a href="/">Stickers</a></li>
            <li><a href="/">Meetup</a></li>
          </ul>
        </div>
      </div><!-- /.main -->
    </div><!-- /.footer -->
  </body>
</html>
